/* Body styling */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

/* Menu container styling */
menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

/* Business container */
business {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  margin-bottom: 20px;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Item styling */
item {
  width: 30%;
  margin: 15px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

item image {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 15px;
}

#gifCarrotCake {
  content: url("https://media.tenor.com/vopVyuI7SmAAAAAM/carrot-cake-cake.gif");
}

#gifChocolateCake {
  content: url("https://gifdb.com/images/high/yummy-chocolate-fudge-cake-s5b63g1s3kgmgwh8.gif");
}

#gifLemonCake {
  content: url("https://media.tenor.com/hz5bepjEMyYAAAAM/mr-cakes-foodie.gif");
}

#gifOrangeCake {
  content: url("https://images.squarespace-cdn.com/content/v1/5ea23fb05a9d5e5bf1c24291/1589292439950-DE4LQE1BGZQP5R144UWU/InShot_20200512_095933282_7.gif");
}

item name {
  font-size: 1.5em;
  color: #333;
  font-weight: bold;
}

item price {
  font-size: 1.2em;
  color: #4caf50;
}

item description {
  font-size: 1em;
  color: #777;
  margin-top: 10px;
}

/* Media Queries for smaller screens */
@media (max-width: 1200px) {
  item {
    width: 45%;
  }
}

@media (max-width: 768px) {
  item {
    width: 100%;
    margin: 10px 0;
  }

  catalog,
  business {
    padding: 10px;
  }
}

@media (max-width: 480px) {
  item {
    width: 100%;
    padding: 15px;
  }

  body {
    padding: 10px;
  }

  item name {
    font-size: 1.2em;
  }

  item price {
    font-size: 1em;
  }

  item description {
    font-size: 0.9em;
  }
}
